<div class="container my-5" style="margin-top: 80px;">
  <h1 class="text-center mb-5 titolo-azzurro">Contatti</h1>

  <div class="row mb-5" style="margin-top: 80px;">
    <div class="col-md-6">
      <h4>📍 Dove ci trovi</h4>
      <p>
        L'associazione Corrado Alvaro'si trova a Bocchigliero, <br/> pittoresco paese situato nella regione Calabria, Italia.
      </p>
      <p>
        <strong>Via Roma, 11</strong><br>
        87060 Bocchigliero – Italia
      </p>

      <h4 class="mt-4">📞 Contatti</h4>
      <ul class="list-unstyled">
        <li><strong>Email:</strong>
          <a href="mailto:alvarobocchigliero&#64;gmail.com">
            alvarobocchigliero&#64;gmail.com
          </a>
        </li>
        <li><strong>Telefono:</strong> +39 351 925 2785</li>
      </ul>

      <h4 class="mt-4">🌐 Social</h4>
      <ul class="list-unstyled">
        <li>
          <i class="bi bi-facebook me-1"></i> Facebook:
          <a href="#" target="_blank">
            Associazione Corrado Alvaro
          </a>
        </li>

        <li><i class="bi bi-instagram me-1"></i> Instagram:
          <a href="#" target="_blank">
            &#64;associazionecorradoalvaro
          </a>
        </li>
      </ul>
    </div>

    <div class="col-md-6 contatti-form">
      <h4>📬 Scrivici un messaggio</h4>
      <form name="contact" method="POST" netlify action="/ringraziamenti">
        <!-- Campo nascosto obbligatorio per Netlify -->
        <input type="hidden" name="form-name" value="contact" />

        <div class="mb-3">
          <label for="name" class="form-label">Nome</label>
          <input type="text" class="form-control" id="name" name="name" placeholder="Il tuo nome" required>
        </div>
        <div class="mb-3">
          <label for="email" class="form-label">Email</label>
          <input type="email" class="form-control" id="email" name="email" placeholder="tua@email.it" required>
        </div>
        <div class="mb-3">
          <label for="message" class="form-label">Messaggio</label>
          <textarea class="form-control" id="message" name="message" rows="4"
            placeholder="Scrivi qui il tuo messaggio..." required></textarea>
        </div>
        <button type="submit" class="btn btn-primary">Invia</button>
      </form>
    </div>
  </div>
</div>