<div class="container my-5">
    <h1 id="visione" class="text-center mb-4">La nostra Visione</h1>
  
    <!-- Menu interno per le sottosezioni -->
    <nav class="mb-4">
      <ul class="nav nav-pills justify-content-center">
        <li class="nav-item">
            <a class="nav-link" (click)="scrollToSection('laboratorio')">Laboratorio Creativo</a>

        </li>
        <li class="nav-item">
            <a class="nav-link" (click)="scrollToSection('itineranza')">Itineranza</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" (click)="scrollToSection('inclusione')">Inclusione Sociale</a>
        </li>
      </ul>
    </nav>
  
    <!-- Sottosezione: Laboratorio Creativo -->
    <section id="laboratorio" class="mb-5 vision-p">
      <h2>Laboratorio Creativo e Innovativo</h2>
      <p class="vision-p">
       L’idea progettuale ha come fine quello di creare un ambiente di apprendimento e creazione dove le tecniche incisorie antiche, xilografia, cianotipia, incisione a bulino incontrano la modernità delle tecnologie digitali (laser, design grafico e software di progettazione). Questo laboratorio fisico sarà la sede di attività, di incontri, di percorsi di formazione, di pratiche di condivisione ed inclusione sociale, rivolto sia ai giovani così come agli anziani, alle categorie svantaggiate cosi come al mondo dei migranti, che vogliono compiere un percorso di crescita culturale artistica e formtiva, attraverso attività laboratoriali e conviviali.
        La visione è quella di un laboratorio che combina l'analogico con il digitale, dove l'arte incisoria classica come quella di G.M. Mitelli viene reinterpretata con tecnologie moderne come i moderni incisori laser e il design grafico. Questo non solo preserva ed innova il patrimonio storico ma lo rende rilevante per le generazioni attuali e future, educando alla bellezza e alla complessità dell'arte incisoria.
      </p>
      <p class="vision-p">
        È un luogo di formazione, inclusione sociale e creatività, rivolto a giovani, anziani, migranti e categorie svantaggiate.
      </p>
    </section>
  
    <!-- Sottosezione: Itineranza -->
    <section id="itineranza" class="vision-p" >
      <h3>Itineranza</h3>
     
        Itineranza: Per raggiungere un pubblico ampio e diversificato, la Bottega digitale del Mitelli avrà anche un suo modulo operativo itinerante, portando l’esperienza della creazione artistica nelle periferie, nelle scuole, nelle raltà del terzo settore della città e del territorio, ma anche nelle realtà che operano nel campo dell’accoglienza, e della gestione della disabilità. L'importanza di avere sia luoghi fisici che iniziative itineranti è cruciale. I laboratori fisici offrono stabilità e un punto di riferimento, mentre l'itineranza permette di raggiungere diverse comunità, portando educazione e cultura dove spesso mancano. Questo approccio aiuta giovani, anziani, fasce sociali deboli e migranti a partecipare a un percorso di crescita personale e sociale, condividendo spazi e conoscenze, creando una rete di solidarietà e appartenenza.
        InclusioneSociale: La Bottega sarà un luogo aperto a giovani, anziani, migranti e categorie sociali svantaggiate, promuovendo percorsi di apprendimento, condivisione e professionalizzazione attraverso:
        Incontro-confronto fra generazioni e dialogo interculturale:
        L’obbiettivo è fare dell’arte il linguaggio universale attraverso il quale superare barriere etniche, linguistiche e generazionali. Attraverso la creazione artistica e l'apprendimento delle tecniche tradizionali unite all'innovazione digitale, giovani e anziani, nativi e migranti, possono trovare un terreno comune dove esprimersi e comprendersi reciprocamente.
    </section>
    <section id="inclusione">
       <h3>InclusioneSociale:</h3>  La Bottega sarà un luogo aperto a giovani, anziani, migranti e categorie sociali svantaggiate, promuovendo percorsi di apprendimento, condivisione e professionalizzazione attraverso:
        Incontro-confronto fra generazioni e dialogo interculturale:
        L’obbiettivo è fare dell’arte il linguaggio universale attraverso il quale superare barriere etniche, linguistiche e generazionali. Attraverso la creazione artistica e l'apprendimento delle tecniche tradizionali unite all'innovazione digitale, giovani e anziani, nativi e migranti, possono trovare un terreno comune dove esprimersi e comprendersi reciprocamente.
     </section>
      
        <h3>Workshop Intergenerazionali:</h3> 
        Organizzando sessioni di lavoro dove i giovani imparano dagli anziani le tecniche artigianali, e gli anziani scoprono il
        potenziale delle nuove tecnologie, si crea un flusso di conoscenza bidirezionale. Questi incontri non solo trasmettono competenze ma anche storie, culture e tradizioni, rafforzando il legame tra le generazioni.
       <h3>Promozione dell'Inclusione Sociale:</h3> 
        Accesso Aperto: La Bottega sarà progettata come uno spazio inclusivo, dove l'ingresso è libero per tutti. In particolare, si concentrerà su quelle fasce della popolazione che spesso sono escluse dai circuiti culturali e formativi: giovani in cerca di orientamento, anziani desiderosi di mantenere attive le proprie abilità, migranti che cercano di integrarsi attraverso la cultura e le categorie sociali svantaggiate che necessitano di supporto per la loro crescita personale e professionale.
        Percorsi di Apprendimento Personalizzati:
        Offrendo corsi e workshop che si adattano a diversi livelli di competenza e interessi, la Bottega può rispondere alle esigenze specifiche di ogni gruppo demografico. Per i giovani, ciò potrebbe significare un percorso verso la professionalizzazione nell'arte o nell'artigianato digitale; per gli anziani, un'opportunità di mantenere la mente e le mani attive; per i migranti, un modo per esprimere la propria cultura e integrarsi nella comunità; e per le persone in situazioni di svantaggio, una via per acquisire competenze che possono migliorare la loro condizione lavorativa e sociale.
        <h3>Condivisione e Collaborazione:</h3>
       <h4>Progetti di Gruppo:</h4>  Iniziative come la creazione di opere collettive, mostre collaborative, o progetti comunitari di restauro e creazione di oggetti d'arte, stimolano la cooperazione e la comprensione reciproca. Questi progetti non
        solo promuovono l'apprendimento pratico ma anche l'integrazione attraverso l'azione congiunta, dove ognuno può contribuire con il proprio bagaglio culturale e personale.
        <h4>Eventi Culturali e Sociali:</h4> La Bottega organizzerà eventi che vanno oltre il semplice atto artistico, includendo feste, esposizioni, e incontri culturali che celebrano le diverse culture presenti nella comunità. Questi eventi non solo mostreranno le opere create ma anche le storie e le persone dietro di esse, promuovendo un senso di appartenenza e orgoglio comunitario.
        Professionalizzazione e Sviluppo Personale:
        <h4>Laboratori di Formazione:</h4> Offrendo corsi che spaziano dall'arte tradizionale alle tecniche digitali, i partecipanti possono acquisire competenze immediatamente applicabili nel mercato del lavoro. Questo include non solo l'artigianato ma anche il marketing, il design grafico, e l'uso di tecnologie moderne per la produzione artistica.
        Mentoring e Opportunità di Lavoro: Stabilendo partnership con aziende locali, altre associazioni culturali, e scuole, la Bottega può facilitare stage, collaborazioni professionali, o addirittura il lancio di piccole imprese artigianali. Questo approccio non solo aiuta a professionalizzare i partecipanti ma anche a inserirli in reti di lavoro e supporto che possono essere vitali per il loro sviluppo personale e professionale.
        In sintesi, "La Bottega Digitale del Mitelli" attraverso l'arte, mira a tessere un tessuto sociale più robusto e inclusivo, dove l'integrazione e l'inclusione non sono solo parole ma pratiche quotidiane che arricchiscono la vita di ogni partecipante,
        creando una comunità più coesa, creativa e consapevole.
      
      <p class="vision-p">
        Le iniziative itineranti sono pensate per coinvolgere attivamente le comunità locali, stimolando la partecipazione e
        l’accesso alla cultura.
      </p>
   
  
    <!-- Sottosezione: Inclusione Sociale
    <section id="inclusione" class="mb-5">
      <h2>Inclusione Sociale</h2>
      <p class="vision-p">
        Promuoviamo percorsi di apprendimento e condivisione attraverso il confronto intergenerazionale e interculturale.
        Giovani e anziani possono collaborare in workshop intergenerazionali, imparando tecniche tradizionali e scoprendo il
        potenziale delle nuove tecnologie.
      </p>
      <p class="vision-p">
        L'obiettivo è abbattere le barriere culturali e generazionali, creando un ambiente inclusivo e creativo che valorizza
        le differenze e promuove il dialogo.
      </p>
    </section> -->
  
    <!-- Pulsante per tornare all'inizio della sezione -->
    <div class="text-center mt-4">
        <a class="btn btn-primary" (click)="scrollToSection('visione')">Torna su</a>
    </div>
  </div>
  