blockquote {
    font-style: italic;
    color: #555;
    border-left: 4px solid #ccc;
    padding-left: 15px;
  }

.container.my-5 {
    background: white;
    border-radius: 38px;
    padding: 40px;
}

.vision-p{
    font-family: cursive;
    font-size: 20p;
    text-align: justify;
}

h3,h4{
    margin-top:20px;
}


.nav-pills .nav-link {
  white-space: nowrap;
  margin-right: 0.5rem;
}

.nav-pills {
  scrollbar-width: thin; /* Firefox */
}

.nav-pills::-webkit-scrollbar {
  height: 6px;
}

.nav-pills::-webkit-scrollbar-thumb {
  background-color: #999;
  border-radius: 4px;
}

@media (max-width: 767px) {

.container.my-5 {
  padding: 0px;
}
    
}