.container.my-5 {
    background: white;
    border-radius: 38px;
    padding: 40px;
    margin-top: 100px !important;
}

/* Contenitore relativo per gestire le sovrapposizioni */
section.position-relative {
    position: relative;
    height: 680px;
  }
  

  
  
  /* Immagine in primo piano */
  .overlay-image {
    position: relative;
    z-index: 2;
    top: 75px;
    left: 85px;
  }
  

  .overlay-image-2 {
    position: relative;
    z-index: 2;
    top: 75px;
    left: 100px;
  }

  .overlay-image-big {
    position: relative;
    z-index: 2;
    top: -70px;
    left: 30px;
  }

  .overlay-text{
    position: relative;
    z-index: 2;
    top: -651px;
    left: 524px;
    width: 600px;
    height: 200px;
    border-radius: 16px;
    font-family: font-family: 'Cormorant Garamond', serif;;
    font-size: 20px;
    font-weight: 600;

}


  /* Immagine di sfondo */
.bg-image {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 680px;
    z-index: 1; /* Posizionata sotto */
    object-fit: cover;
  }
  
  /* Sovrapposizione delle immagini */
  .row {
    z-index: 2; /* Posizionata sopra lo sfondo */
  }
  
  .shadow {
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  }
  

  /* 
  
  CSS PER VERSIONE BOOTSTRAO DA AGGIUSTARE
  
  Immagine di sfondo 
.bg-image {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 680px;
  z-index: 1;
  object-fit: cover;
}


.overlay-text {
  background-color: rgba(255, 255, 255, 0.8); 
  border-radius: 16px;
  padding: 20px;
  font-family: font-family: 'Cormorant Garamond', serif;;
  font-size: 20px;
  font-weight: 600;
}
*/

.card-img-top {
  object-fit: cover;
}

.card {
  border-radius: 16px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.08);
}
