body {
    background-image: url('/assets/images/sfondo-prodotti.jpg');
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    background-repeat: no-repeat;
  }
  