.home-background {
    background-image: url('/assets/images/paese.jpg');
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    background-repeat: no-repeat;
    min-height: 100vh;
    padding-top: 60px;
    padding-bottom: 60px;

  }
  
 .titolo-h1 {
    font-size: 4.5rem;
    color: #082fe1;
   font-family: sans-serif;
    font-weight: 700;
}

.sottotitolo-p{
    font-size: 3.5rem;
    color: #129469;
   font-family: sans-serif;
    font-weight: 700;
    margin-top: 11px;
    margin-bottom: 30px;
}

.bologna-h2{
    font-size: 4.5rem;
    color: red;
    font-family: unset;
    font-weight: 700;

}

.home-page-background {
    background: white;
    border-radius: 30px;
    font-size: 22px;
    padding: 40px;
}
.sfondo-trasparente {
    background-color: rgba(255, 255, 255, 0.4); /* bianco con trasparenza */
    color: #000; /* testo scuro per contrasto */
    border-radius: 16px;
    padding: 40px;
    max-width: 95%;
    margin: 50px auto;
  }
  .sfondo-trasparente h1,
.sfondo-trasparente p {
  margin-top: -20px;
}



@media (max-width: 992px) {
  .titolo-h1 {
    font-size: 3rem;
  }

  .sottotitolo-p {
    font-size: 2.2rem;
  }
}


@media (max-width: 887px) {
p.sottotitolo-p {
    font-size: 22px !important;
    margin-top: 10px !important;
}
}

@media (max-width: 576px) {
  .titolo-h1 {
    font-size: 2.2rem;
  }

  .sottotitolo-p {
    font-size: 1.5rem;
  }

  .sfondo-trasparente {
    padding-top: 10px;
    padding-bottom: 30px;
    padding-left: 20px;
    padding-right: 20px;
    margin: 20px auto;
  }

  .home-page-background {
    padding: 20px;
    font-size: 18px;
  }

  .home-background {
    background-attachment: scroll;
  }

  p {
    max-width: 100%;
  }

}

